.container {
    max-width: 90%;
    margin: 0 auto;
}
.container h1 {
    font-size: 40px;
}
.book_list_container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    margin: 30px 0;
}
